services:
  node-exporter: 
    container_name: node-exporter
    image: prom/node-exporter:latest
    ports:
      - 9100:9100
    restart: unless-stopped
      
  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:latest
    privileged: true                          # This grants cAdvisor more permissions for system stats
    ports:
      - 8081:8080
    volumes:              
      - /:/rootfs:ro                          # Mount the host filesystem
      - /var/run:/var/run:rw                  # Mount the Docker socket for container monitoring
      - /sys:/sys:ro                          # Mount /sys for system stats
      - /var/lib/docker/:/var/lib/docker:ro   # Mount Docker data directory
      - /dev/disk/:/dev/disk:ro
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    restart: unless-stopped

  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1 # Allow access to viewing containers
      - SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      - TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=0 # Disallow any POST operations (effectively read-only)
    ports:
      - 2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    restart: unless-stopped
